.marcadores{
	color: #999999;
}

.title-welcome {
	min-height: 10vh;
	text-align: center;
	text-transform:uppercase;
}

footer{
    background-color: #999999;
    border-top: 2px #4d4d4d solid;
}

.footer-up{
    border-bottom: 2px #808080 solid;
}

.footer-copyright{
    background-color: #808080;
    border-top: 1px #4d4d4d solid;
}

.flex{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-content: space-around;
}

.flex a, .flex a:hover, .flex a:focus{
    font-size: 3.5vh;
    margin: auto;
    color: #b38600;
}

.social {
    float: right;
    width: 40vw;
}

.left-social{
    margin-top: 15px;
    float: left;
    width: 60vw;
}

.footer-content{
    align-content: center;
    margin: 4vh auto;
}



/* ------------------------------------------------------------- */
body {
	color:#444;
	font:normal 16px "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:300;
	background-color: #e6e6e6;
	overflow-x:hidden;
	line-height:1.5;
}
a {
	color:#3498db;
	cursor:pointer;
	text-decoration:none;
		-moz-transition:all .2s;
	-o-transition:all .2s;
	-webkit-transition:all .2s;
	transition:all .2s;
}
a:hover,a:focus {
	color:#3498db;
	outline:none;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family:"Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:bold;
	margin-bottom:15px;
	margin-top:0;
}
h1 {
	font-size:38px;
}
h2 {
	font-size:32px;
}
h3 {
	font-size:24px;
	display:block;
}
h4 {
	font-size:20px;
}
h5 {
	font-size:18px;
}
h6 {
	font-size:16px;
}
p {
	margin-bottom:20px;
}
p:last-child {
	margin-bottom:0;
}
ul,ol {
	margin-bottom:20px;
}

img {
	max-width: 100%;
}
/*	Section	==================================================*/
.navbar.active-section {
	top:0 !important;
}

/*	Header	==================================================*/
#header {
	border-bottom: 5px #444 double;
}

/*	Navbar	==================================================*/
.navbar-inverse .navbar-brand {
	padding:30px 15px;
	margin-right:30px;
	color:inherit;
	text-transform:uppercase;
	font-weight:bold;
}
.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-brand:focus {
	color: #b38600;
}
.navbar-inverse {
	background-color: #fff;
}
.navbar-right button {
	margin:23px 0;
}
.navbar-nav>li>a {
	padding:30px 0;
	margin:0 15px;
}
.navbar-inverse .navbar-nav>li>a {
	color:inherit;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
}
.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus {
    color: #b38600;
 }

/* collapse navbar --------------------------------------*/
.navbar-inverse .navbar-toggle {
    background-color:#b38600;
    border-color:#b38600;
    margin-top:18px;
}

/*	Slider	==================================================*/ 
#slider {	
	color:#FFF;
}
.carousel-control.left,.carousel-control.right {
	background-image:none;
}
.carousel-control {
	color:#FFF;
	opacity:1;
	text-shadow:none;
}
.carousel-control:hover {
	color:#CCC;
}
.carousel-indicators li {
	border-color:#FFF;
	margin:0 2px;
	height:15px;
	width:15px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	margin:0 2px;
		-moz-transition:all .2s;
	-o-transition:all .2s;
	-webkit-transition:all .2s;
	transition:all .2s;
}
.carousel-indicators .active {
	height:15px;
	width:15px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	margin:0 2px;
	background-color:#FFF;
	border:1px solid #FFF;
}
.carousel.slide {
	-moz-transition:all .2s;
	-o-transition:all .2s;
	-webkit-transition:all .2s;
	transition:all .2s;
}
.carousel-inner blockquote {
	border:none;
	text-align:center;
	padding:40px 10%;
}
.carousel-inner blockquote small {
	font-size:14px;
	text-transform:uppercase;
	font-weight:400;
}
.carousel-inner blockquote p {
	font-size:36px;
}
.carousel-control .glyphicon {
	left:50%;
	margin-top:-10px;
	margin-left:-10px;
	font-size:20px;
}
.carousel-indicators {
	bottom:-20px;
}
.carousel-control {
	background:transparent;
	position:absolute;
	top:50%;
	margin-top:0px;
		border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
		height:40px;
	width:40px;
}

/*	Common	==================================================*/
.wrapsection {  
    padding-top:140px;
	padding-bottom:140px;
    position: relative;
    background-color: #e6e6e6;
  }

/*	Responsive	==================================================*/ 
@media (max-width:991px) {
	.service-box {
					margin-bottom:30px;
	}
	#image img.img-responsive {
					margin-left:auto;
					margin-right:auto;
	}	
	.navbar-nav>li>a {
					margin:0 7px;
	}
}
@media (max-width:767px) {
	.service-box,.img-responsive,.carousel {
					margin-bottom:30px;
	}
	.container {
					max-width:690px;
					padding-left:30px;
					padding-right:30px;
	}	
	.navbar-nav>li>a {
					padding:10px;
	}
	.header-button {
					margin:0;
	}
	#hero .herotext {
					padding: 90px 0px;
	}
}
@media (max-width:767px) {
	body {
					font-size:14px;
	}
	h1 {
					font-size:28px;
	}
	h2,.carousel-inner blockquote p {
					font-size:24px;
	}
	h3 {
					font-size:20px;
	}
	h4 {
					font-size:18px;
	}
	h5 {
					font-size:16px;
	}
	h6 {
					font-size:14px;
	}

	.service-box,.img-responsive,.carousel {
					margin-bottom:30px;
	}

	.container {
					max-width:690px;
					padding-left:30px;
					padding-right:30px;
	}	
}